@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.logo{
  width: 130px;
}
.brnChoise{
  width: 200%;
  margin-left: -50%;
}
.eventImg{
  width: 700px;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}
.card{
  width: 400px;
  padding: 30px;
  background-color: bisque;
}
.cardPrice{
  margin-top: 10px;
  height: auto;

  width: 550px;
  height: auto;
  padding: 30px;
  background-color: bisque;
}
.cardDescription{
  width: 620px;
  padding: 30px;
  margin-bottom: auto;
  background-color: bisque;
}
.cardImg{
  margin: -30px;
  width: 288px;
  height: 150px;
  object-fit: cover;
}
.card-body{
  margin-left: -45px;
  margin-right: -45px;
  margin-bottom: -15px
}
.border-primary {
  border-color: rgb(172, 124, 65);
}

/* ========== Event Choise */
.eventImgSmall{
  width: 120px;
  border-radius: 10px;
  margin-right: 20px;
  object-fit: cover;
}
.cardForm{
  margin-top: 20px;
  border-radius: 20px;
  width: 550px;
  padding: 30px;
  margin-bottom: auto;
  background-color: bisque;
  
}