.logo{
  width: 50px;
}
.brnChoise{
  width: 200%;
  margin-left: -50%;
}
.eventImg{
  width: 700px;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}
.card{
  width: 400px;
  padding: 30px;
  background-color: bisque;
}
.cardPrice{
  margin-top: 10px;

  width: 550px;
  height: auto;
  padding: 30px;
  background-color: bisque;
}
.cardDescription{
  width: 550px;
  padding: 30px;
  margin-bottom: auto;
  background-color: bisque;
}
.cardImg{
  margin: -30px;
  width: 288px;
  height: 150px;
  object-fit: cover;
}
.card-body{
  margin-left: -45px;
  margin-right: -45px;
  margin-bottom: -15px
}
.border-primary {
  border-color: rgb(172, 124, 65);
}

/* ========== Event Choise */
.eventImgSmall{
  width: 120px;
  border-radius: 10px;
  margin-right: 20px;
  object-fit: cover;
}
.cardForm{
  margin-top: 20px;
  border-radius: 20px;
  width: 550px;
  padding: 30px;
  margin-bottom: auto;
  background-color: bisque;
  
}